@charset "utf-8";
body{
	margin:auto;
	width:1000px;
	height:150px;
}
#head img{
	width:1000px;
	height:150px;
}
#log{
	margin-left:850px;
	margin-top:-40px;
	height:40px;
}
#log a{
	color:#FFF;
	text-decoration:none;

}
#hnav{
	background-color:#30C;

}
#hnavtable td{
	border-right:1px solid #6C9;
	padding-top:5px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:5px;
}
#hnavtable a{
	color:white;
	text-decoration:none;
}
#hnavtable td:hover{
	background-color:#6C9;
}
#vnav{
	width:20%;
	height:400px;
	background-color:#69C;
	float:left;

}
#content{
	width:80%;
	height:400px;
	background-color:#699;
	margin-left:200px;

}
#position{
	height:30px;
	background-color:#5AACE4;
	padding-top:7px;
	padding-left:10px;
}
#footer{
	height:40px;
	width:1000px;
	background-color:#5AACE4;
	float:left;
	padding-top:5px;
}
#footer p{
	font-size:12px;
	text-align:center;
	margin:0;
}
