
body{
	margin:auto;
	width:1000px;
	height:150px;
	background-color:#BFE9F0;
}
a{
	text-decoration:none;
}
a:hover{
	color:#FFC;
}
#logout{
	float:right;
	margin:10px 30px 0px 0px;
	color:white;
	font-size:16px;
}
#logout:hover{
	float:right;
	margin:10px 30px 0px 0px;
	color:orange;
	font-size:16px;
}


#head img{
	width:1000px;
	height:150px;
}

#hnav{
	background-color:#21374A;

}
#hnavtable td{
	border-right:1px solid #6C9;
	padding-top:5px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:5px;
}
#hnavtable a{
	color:white;
}
#hnavtable td:hover{
	background-color:#6CC;
}
#vnav{
	width:20%;
	height:700px;
	background-color:#7ABAE3;
	float:left;

}
#list{
	line-height:30px;
	margin-top:20px;
	list-style-type:none;
}
.vnavl{
	background-color:#A3E3EB;
	padding:5px 0px 5px 30px;
	border-radius:6px;
	width:120px;
	margin-bottom:10px;
	margin-left:-15px;
}
#content{
	width:80%;
	height:700px;
	background-color:#AFDEDE;
	margin-left:200px;

}
#position{
	height:30px;
	background-color:#5AACE4;
	padding-top:7px;
	padding-left:10px;

}
#main{
}
#footer{
	height:40px;
	width:1000px;
	background-color:#5AACE4;
	float:left;
	padding-top:5px;
}
#footer p{
	font-size:12px;
	text-align:center;
	margin:0;
}
